main {
  padding-top: 100px;
}

header {
  text-align: left;
  padding-top: 60px;
  padding: 10px;
}

.navbar-brand img {
  height: 40px;
  width: auto;
  margin-top: -5px;
}

.navbar-text {
  font-size: 24px;
  font-weight: bold;
  color: azure;
}

body {
  padding-top: 70px;
}

.navbar {
  padding: 0.5rem 1rem;
}

.orange-text {
  color: orange;
}

.first-row {
  margin-top: 10px;
}

.second-row {
  margin-top: 20px;
}

.third-row {
  margin-top: 20px;
}

.custom-blue {
  background-color: #007bff !important;
}

.grey-background {
  background-color: #f5f5f582;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

.card-title,
.price {
  font-weight: bold;
}
