<header>
  <h1>Shop</h1>
  <hr style="width: 100%; border: 1px solid #ccc; margin-top: 10px; margin-bottom: 10px" />
</header>
<!-- Blue Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark custom-blue fixed-top">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo-iko-kitesurf.png" alt="IKO Logo" />
  </a>
  <div class="mx-auto">
    <span class="navbar-text"> Shop </span>
  </div>
</nav>

<main>
  <div class="container mt-4">
    <!-- Added margin-top for spacing -->
    <div class="row">
      <div class="col-md-12">
        <!-- UI -->

        <div class="row first-row">
          <!-- x -->
          <div class="col-md-4 col-sm-4 product">
            <div class="default">
              <img
                typeof="foaf:Image"
                src="https://www.ikointl.com/sites/default/files/styles/shop_list_image/public/kiteboarder-certification-credits_1.png?itok=0Z99z8hL"
                width="270"
                height="270"
                card-img-top
                alt="50 Kiteboarder Certification Credits"
                class="mx-auto d-block"
              />
              <div class="card-body grey-background">
                <h5 class="card-title text-center">10 kiteboarder certification credits</h5>
                <h5 class="price text-center orange-text">$30.00</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 product">
            <div class="default">
              <img
                typeof="foaf:Image"
                src="https://www.ikointl.com/sites/default/files/styles/shop_list_image/public/kiteboarder-certification-credits_1.png?itok=0Z99z8hL"
                width="270"
                height="270"
                card-img-top
                alt="50 Kiteboarder Certification Credits"
                class="mx-auto d-block"
              />
              <div class="card-body grey-background">
                <h5 class="card-title text-center">25 kiteboarder certification credits</h5>
                <h5 class="price text-center orange-text">$60.00</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 product">
            <div class="default">
              <img
                typeof="foaf:Image"
                src="https://www.ikointl.com/sites/default/files/styles/shop_list_image/public/kiteboarder-certification-credits_1.png?itok=0Z99z8hL"
                width="270"
                height="270"
                card-img-top
                alt="50 Kiteboarder Certification Credits"
                class="mx-auto d-block"
              />
              <div class="card-body grey-background">
                <h5 class="card-title text-center">50 kiteboarder certification credits</h5>
                <h5 class="price text-center orange-text">$90.00</h5>
              </div>
            </div>
          </div>
          <!-- ... x ... -->
        </div>
        <div class="row second-row">
          <!-- x -->
          <div class="col-md-4 col-sm-4 product">
            <div class="default">
              <img
                typeof="foaf:Image"
                src="https://www.ikointl.com/sites/default/files/styles/shop_list_image/public/kiteboarder-certification-credits_1.png?itok=0Z99z8hL"
                width="270"
                height="270"
                card-img-top
                alt="50 Kiteboarder Certification Credits"
                class="mx-auto d-block"
              />
              <div class="card-body grey-background">
                <h5 class="card-title text-center">100 kiteboarder certification credits</h5>
                <h5 class="price text-center orange-text">$160.00</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 product">
            <div class="default">
              <img
                typeof="foaf:Image"
                src="https://www.ikointl.com/sites/default/files/styles/shop_list_image/public/cca9ac28b94047b7e05ad8085b3568b6_preview.png?itok=siRt3hmP "
                width="270"
                height="270"
                card-img-top
                alt="50 Kiteboarder Certification Credits"
                class="mx-auto d-block"
              />
              <div class="card-body grey-background">
                <h5 class="card-title text-center">IKO Cap White</h5>
                <h5 class="price text-center orange-text">$41.80</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 product">
            <div class="default">
              <img
                typeof="foaf:Image"
                src="https://www.ikointl.com/sites/default/files/styles/shop_list_image/public/kiteboarder-certification-credits_1.png?itok=0Z99z8hL"
                width="270"
                height="270"
                card-img-top
                alt="50 Kiteboarder Certification Credits"
                class="mx-auto d-block"
              />
              <div class="card-body grey-background">
                <h5 class="card-title text-center">10 kiteboarder certification credits</h5>
                <h5 class="price text-center orange-text">$10</h5>
              </div>
            </div>
          </div>
          <!-- ... x ... -->
        </div>
        <div class="row third-row">
          <!-- x -->
          <div class="col-md-4 col-sm-4 product">
            <div class="default">
              <img
                typeof="foaf:Image"
                src="https://www.ikointl.com/sites/default/files/styles/shop_list_image/public/kiteboarder-certification-credits_1.png?itok=0Z99z8hL"
                width="270"
                height="270"
                card-img-top
                alt="50 Kiteboarder Certification Credits"
                class="mx-auto d-block"
              />
              <div class="card-body grey-background">
                <h5 class="card-title text-center">100 kiteboarder certification credits</h5>
                <h5 class="price text-center orange-text">$160.00</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 product">
            <div class="default">
              <img
                typeof="foaf:Image"
                src="https://www.ikointl.com/sites/default/files/styles/shop_list_image/public/cca9ac28b94047b7e05ad8085b3568b6_preview.png?itok=siRt3hmP "
                width="270"
                height="270"
                card-img-top
                alt="50 Kiteboarder Certification Credits"
                class="mx-auto d-block"
              />
              <div class="card-body grey-background">
                <h5 class="card-title text-center">IKO Cap White</h5>
                <h5 class="price text-center orange-text">$41.80</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 product">
            <div class="default">
              <img
                typeof="foaf:Image"
                src="https://www.ikointl.com/sites/default/files/styles/shop_list_image/public/kiteboarder-certification-credits_1.png?itok=0Z99z8hL"
                width="270"
                height="270"
                card-img-top
                alt="50 Kiteboarder Certification Credits"
                class="mx-auto d-block"
              />
              <div class="card-body grey-background">
                <h5 class="card-title text-center">10 kiteboarder certification credits</h5>
                <h5 class="price text-center orange-text">$10</h5>
              </div>
            </div>
          </div>
          <!-- ... x ... -->
        </div>
        <!-- ... x ... -->
      </div>
    </div>
  </div>
</main>
